my_notes.py
props.json
pracuj_login.sh
indeed_login.sh
consumer.html
Pracuj_scrap/
Indeed_scrap/
Just_joint_scrap/
downloaded_files/
venv/
.env
airflow/logs/

*.log
*.csv
*.sqlite3

*.pyc
__pycache__/
*.pyo
*.pyd
